---
import DemoSection from "../DemoSection.astro";
---

<DemoSection title="Touch" api="$touch">
	<ul class="list-disc list-inside space-y-1">
		<li>Touch: <strong x-text="$touch.isTouch"></strong></li>
		<li>Coarse pointer: <strong x-text="$touch.isCoarse"></strong></li>
		<li>Hover: <strong x-text="$touch.canHover"></strong></li>
		<li>Max touch points: <strong x-text="$touch.maxTouchPoints"></strong></li>
	</ul>
</DemoSection>
